run = "streamlit run web_blog_writer_simple.py --server.port 8080 --server.address 0.0.0.0"
language = "python3"
entrypoint = "web_blog_writer_simple.py"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "$PYTHONPATH:."

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
[languages.python3.languageServer]
start = "pylsp"

[deployment]
run = ["sh", "-c", "streamlit run web_blog_writer_simple.py --server.port 8080 --server.address 0.0.0.0 --server.headless true"]
deploymentTarget = "cloudrun"